@{
    ViewData["Title"] = "Інформація про клієнта";
}

<h2>Ваша інформація:</h2>

<p><strong>IP адреса:</strong> @ViewBag.IP</p>
<p><strong>Браузер:</strong> @ViewBag.Browser</p>

<a asp-controller="Home" asp-action="Index">⬅ Повернутися на головну</a>
