<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Головна</a></li>
                <li><a href="/Home/Page2">Сторінка 2</a></li>
            </ul>
        </nav>
    </header>

    <div class="container">
        @RenderBody()  @* Тут основний вміст сторінки *@
    </div>
</body>
</html>
