<div class="left-menu">
    <ul>
        <li><a href="/Home/Menu1">Меню 1</a></li>
        <li><a href="/Home/Menu2">Меню 2</a></li>
        <li><a href="/Home/Menu3">Меню 3</a></li>
    </ul>
</div>
