
@{
    ViewData["Title"] = "Головна";
}

<h1>Головна сторінка</h1>

<p>
    <a asp-controller="Info" asp-action="Index">Подивитися інформацію про мій браузер і IP</a>
</p>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
