@{
    ViewData["Title"] = "Головна";
}

<h1>Привіт!</h1>

<p>Фільтр спрацював, останній запис:</p>
<pre>@ViewBag.LastLog</pre>

<p>Відкрийте сторінку у кількох вкладках/браузерах та оновлюйте, щоб бачити нові записи у файлі action_log.txt.</p>
