@{
    ViewData["Title"] = "Головна";
}

<h2>Головна сторінка</h2>

<p>Натисніть кнопку, щоб створити тестову помилку та надіслати лог у Seq:</p>

<a class="btn btn-danger" href="/Home/CauseError">Викликати помилку</a>