@{
    ViewData["Title"] = "Меню 2";
}

<div class="page2-container">
    <div class="left-column">
        @Html.Partial("_LeftMenu")
    </div>

    <div class="main-column">
        <h1>Меню 2</h1>
        <p> Вітаємо вас у меню 2</p>
    </div>
</div>
