@{
    ViewData["Title"] = "Додаткове завдання";
}

<div class="page2-container">
    <div class="left-column">
        @Html.Partial("_LeftMenu")  @* Ліве меню *@
    </div>

    <div class="main-column">
        <h1>Сторінка 2</h1>
        <p>Основний вміст сторінки 2</p>
    </div>
</div>
